html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  
  text-align: center;
}

#attend_content h1{
    font-size: 60px;
    font-weight: 600;
    color: #F3AF2B;
    padding-bottom: 20px;
}
#attend_content h2{
  font-size: 35px;
  font-weight: 600;
  color: #F3AF2B;
  padding-bottom: 10px;
}
#attend_content h3{
  font-size: 30px;
  font-weight: bold;
  color: #494848;
}
#attend_content a{
  text-decoration-line: none;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.25);
  font-size: 20px;
  font-weight: lighter;
  color: #494848;
}

#attend_content div#title{
  min-height: 260px;
  max-height: 260px;
}

div#title div#can_attend{
  padding-top: 70px;
}
div#attend_content div#button{
  margin-bottom: 10px;
}

.radius_btn{
  width: 80%;
  height: 140px;
  max-width: 400px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
  
  font-size: 65px;
  font-weight: 600;
  color: white;
}
.can_click_btn{
  background-color: #F5C343;
}
.cant_click_btn{
  background-color: #e2e2e2;
}


/*
.content-footer{
  min-height: 100%;
  position: relative;
}

*/


/* スマホ以外の場合、適用されるCSS */
@media(min-width: 576px){
  .Header p{
  }

}

/*
#title{
    text-align: center;
    height: 40%;
    margin: 0 auto;

}
.text2{
    font-size: 30px;
}

#cant_attend{
    display: none;
}
.orange_button{
  
  
  /*
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
  
  */ /*
}
.orange_button:active{
  box-shadow: 1px 1px 0 rgba(0,0,0,0.12);
}




*/
